*{
    box-sizing: border-box;
}
html, body{
    
    height: 100%;
}

.heading-wrapper{
    padding: 20px;    
}
h1{
    font-family: 'Luckiest Guy', cursive;
    font-weight: 100;
    text-align: center;
    padding: 20px; 
}
h3{
    text-align: center;
    padding: 5px; 
}
